.car {
  &--wrapper {
    display: inline-block;
    width: 550px;
    height: 300px;
  }

  &--list {
    margin: 40px;
    width: 100%;
    background-color: $medium-gray;
  }

  &--image {
    transform: scaleX(-1);
  }
}
