$primary-color: #00ADC1;
$app-offset: 40px;

.title {
  position: relative;
  top: ($app-offset * 3) / 4;
  left: $app-offset;
  color: $primary-color;
}

.car {
  height: 270px;
  color: #00ADC1;
  
  &--wrapper {
    display: inline-block;
    margin: $app-offset / 4;
    border: 1px solid #ccc;
    width: 23.7%;
  }

  &--list {
    margin: 40px;
    background-color: #ffffff;
  }

  &--image {
    display: block;
    margin: auto;
    width: 315px;
    height: 220px;
    transform: scaleX(-1);
    object-fit: contain;
  }

  &--name {
    padding-bottom: $app-offset / 2;
    text-align: center;
    color: $primary-color;
  }

  &--empty {
    position: relative;
    top: 35px;
    left: 40px;
    color: $primary-color;
  }
}
