.flipper {
  position: relative;
  width: 100%;
  height: inherit;
  perspective: 4000px;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 300ms;
  transition-timing-function: linear;
  backface-visibility:hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  background-color: #f3f3f3;
  transform: rotateY(180deg);
  text-align: center;
}

.back > div {
  text-align: left;
}

.flipper:hover .front{  transform: rotateY(-180deg); }
.flipper:hover .back {  transform: rotateY(0deg); }

.car {
  &--image-hovered {
    display: block;
    margin: auto;
    transform: scaleX(-1);
    width: 270px;
    height: 150px;
    object-fit: contain;
    filter: brightness(50%);
  }

  &--description {
    padding: 10px 10px;
  }

  &--speed {
    padding: 0 10px;
  }

  &--pick {
    position: relative;
    top: 10px;
    background-color: #00ADC1;
    padding: 5px;
    border-radius: 3px;
    color: white;
  }
}
