<a class="btn btn--start"
   *ngIf="carsForRace.length > 1 && !raceStarted"
   (click)="startRace(carsForRace)"
>Start race</a>
<a class="btn btn--reset" *ngIf="raceStarted" (click)="resetRace()">Reset race</a>
<div class="car--wrapper--race" *ngFor="let car of carsForRace; let index = index"
     (mouseover)="showButton(index)"
     (mouseleave)="hideButton()">
  <div class="car__icon--wrapper" (click)="openConfirmationModal(car)">
    <img
      [style.display]="hoveredRow === index && !raceStarted ? 'block': 'none'"
      class="car__icon--delete" src="../../../../assets/delete-icon.png" alt="delete">
  </div>
  <app-race-car [car]="car"
                [index]="index"
                [raceStarted]="raceStarted"
                [firstPlace]="firstPlace"
                [secondPlace]="secondPlace"
                [thirdPlace]="thirdPlace"
                (emitAnimationEndTarget)="finishRace($event)"
  ></app-race-car>
  <div *ngIf="firstPlace === car" class="car__place car__place--first">| place</div>
  <div *ngIf="secondPlace === car" class="car__place car__place--second">|| place</div>
  <div *ngIf="thirdPlace === car" class="car__place car__place--third">||| place</div>
</div>
<app-confirmation-modal
  *ngIf="openConfirmation"
  [message]="confirmationMessage"
  (closeConfirmationModal)="closeModal()"
  (confirmed)="emitCarForRemoval($event)">
</app-confirmation-modal>
