@import 'foundation';

@import 'reset', 'utility', 'layout', 'car/car-list', 'car/car-search', 'car/car-item',
'modal/modal';

body {
  background-color: #f8f8f8;
  font-family: $body-font-family;
  overflow-x: hidden;
}

a, button {
  cursor: pointer;
}
