<div>
  <div class="car__position car--start">{{index + 1}}</div>
  <img class="car--race {{car.id}}"
       [ngClass]="{'animated slideInLeft': raceStarted}"
       [style.animation-duration]="raceStarted ? animationDuration : '0s'"
       src={{car.image}}>
  <div class="car__position car--finish"
       [style.background-color]="firstPlace === car ? '#FFD700': '#f3f3f3'"
       [style.background-color]="secondPlace === car ? '#C0C0C0': '#f3f3f3'"
       [style.background-color]="thirdPlace === car ? '#CD7F32': '#f3f3f3'"
  >Finish</div>
</div>
