<app-car-search (onSearch)="filterCars($event)"></app-car-search>
<div *ngIf="searchResult.length !== 0">
  <h1 class="title">
    Choose cars for the race:
  </h1>
  <div class="car--list">
    <div class="car--wrapper" *ngFor="let car of searchResult">
      <app-car-item [car]="car"
                    [raceStarted]="raceStarted"
                    (picked)="pickCarForRace($event)">
      </app-car-item>
    </div>
  </div>
</div>
<div class="car--empty" *ngIf="searchResult.length === 0">
  <h1>There are no cars available!</h1>
</div>
<app-car-track [carsForRace]="carsForRace"
               (emitRaceStarted)="startedRace($event)"
               (emitResetRace)="resetRace($event)"
               (carForRemoval)="removeCar($event)">
</app-car-track>
